<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Login</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="isAuthenticated">
        <p>
            You are already logged in.
        </p>
        <p>
            <button ion-button block (click)="logout()">Log Out</button>
        </p>
    </div>
    <div *ngIf="!isAuthenticated">
        <ion-item>
            <ion-label color="primary" stacked>Email</ion-label>
            <ion-input type="text" placeholder="Email" [(ngModel)]="loginCriteria.email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>Password</ion-label>
            <ion-input type="password" [(ngModel)]="loginCriteria.password"></ion-input>
        </ion-item>
        <p class="center">
            <button ion-button block (click)="login()">Login</button> or
            <button ion-button block outline (click)="goToRegisterPage()">Register</button>
        </p>
    </div>
</ion-content>