<ion-header>
  <ion-toolbar>
    <ion-title>
      Add/Edit Activity
    </ion-title>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Back</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h1>{{eventDate}}</h1>
    <ion-item>
        <ion-label>Start Time</ion-label>
        <ion-datetime displayFormat="h:mm A" [(ngModel)]="activity.startDateString" (ionChange)="startDateChanged()"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>End Time</ion-label>
        <ion-datetime displayFormat="h:mm A" [(ngModel)]="activity.endDateString"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>Type</ion-label>
        <ion-select [(ngModel)]="activity.type" (ionChange)="typeChanged()">
            <ion-option *ngFor="let typeString of activityTypes.all" value="{{typeString}}">{{typeString}}</ion-option>
        </ion-select>
    </ion-item>
    <ion-item *ngIf="activity.type === activityTypes.speaker">
        <ion-label color="primary" stacked>Speaker</ion-label>
        <ion-input type="text" placeholder="Speaker" [(ngModel)]="activity.speaker"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label color="primary" stacked *ngIf="activity.type !== activityTypes.speaker">Activity Name</ion-label>
        <ion-label color="primary" stacked *ngIf="activity.type === activityTypes.speaker">Title</ion-label>
        <ion-input type="text" [placeholder]="activity.type !== activityTypes.speaker ? 'Name' : 'Title'" [(ngModel)]="activity.name"></ion-input>
    </ion-item>

    <div *ngIf="eventType === 'Online'">
      <ion-item>
        <ion-label color="primary" stacked>Web URL (if applicable)</ion-label>
        <ion-input type="text" placeholder="URL" [(ngModel)]="activity.url"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Access Code (only if activity has specific code)</ion-label>
        <ion-input type="text" placeholder="Access Code" [(ngModel)]="activity.accessCode"></ion-input>
      </ion-item>
    </div>

    <p>
      <button ion-button (click)="saveActivity()">Save</button>
    </p>
</ion-content>