<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Schedule ({{event.status}})</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="event">
        <h1>{{event.name}}</h1>
        <p *ngIf="eventSchedule && eventSchedule.isOneDayEvent" class="subheader-date">
            {{event.startDateString | date: 'EEEE, MMM d, y'}} ~ {{event.startDateString | date: 'shortTime'}} to {{event.endDateString
            | date: 'shortTime'}}
        </p>
        <p *ngIf="eventSchedule && !eventSchedule.isOneDayEvent" class="subheader-date">
            {{event.startDateString | date: 'EEEE, MMM d, y'}} thru {{event.endDateString | date: 'EEEE, MMM d, y'}}
        </p>
    </div>
    <div *ngIf="eventSchedule">
        <ion-item *ngFor="let scheduleDay of eventSchedule.days">
            <ion-item>
                <p>
                    {{scheduleDay.dayString}}
                </p>
                <button ion-button small item-right (click)="openAddActivityDialog(event.startDateUtc, event.endDateUtc)" title="Add Activity">
                    <ion-icon name="add"></ion-icon>
                </button>
            </ion-item>
            <p *ngIf="!scheduleDay.activities || scheduleDay.activities.length === 0">No activities yet</p>
            <p *ngIf="scheduleDay.activities && scheduleDay.activities.length > 0">
                <ion-item *ngFor="let activity of scheduleDay.activities">
                    {{activity.startDateString | date: 'shortTime'}} - {{activity.endDateString | date: 'shortTime'}}:
                    <br/>{{activity.name}}
                    <button ion-button small item-right color="light" (click)="openActivityDialog(activity, event.id)" title="Add Activity">
                        <ion-icon name="create"></ion-icon>
                    </button>
                </ion-item>
            </p>
        </ion-item>
    </div>
    <draft-nav [event]="event" [activePage]="'schedule'"></draft-nav>
</ion-content>