<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Creations Connect</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-list">

    <ion-card (click)="goToEventListPage()">
        <div class="card-title">Upcoming Events</div>
        <div class="card-subtitle">
          There
          <span *ngIf="eventCount == 0 || eventCount > 1">are</span>
          <span *ngIf="eventCount == 1">is</span>
          <ion-badge>{{eventCount}}</ion-badge> upcoming event<span *ngIf="eventCount == 0 || eventCount > 1">s</span>.
        </div>
    </ion-card>

    <ion-card *ngIf="draftCount > 0" (click)="goToEventDraftListPage()">
        <div class="card-title">Your Drafts</div>
        <div class="card-subtitle">
          You have
          <ion-badge>{{draftCount}}</ion-badge>
          <span *ngIf="draftCount == 0 || draftCount > 1">drafts</span><span *ngIf="draftCount == 1">draft</span>.
        </div>
    </ion-card>

    <ion-card (click)="goToNewEventDetailPage()">
        <div class="card-title">New Event (Draft)</div>
        <div class="card-subtitle">Organize A New Event</div>
    </ion-card>

</ion-content>