<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>New Event (Draft)</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="newEvent">
    <p>
      You will be assigned as the first Organizer (Event Admin) of this event. You can add other organizers or transfer admin rights.
    </p>
    <ion-item>
      <ion-label color="primary" stacked>Event Name</ion-label>
      <ion-input type="text" placeholder="Event Name" [(ngModel)]="newEvent.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Type</ion-label>
      <ion-select [(ngModel)]="newEvent.eventType">
        <ion-option *ngFor="let typeString of eventTypes.all" value="{{typeString}}">{{typeString}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Start Date</ion-label>
      <ion-datetime min="{{startYearRange}}" max="{{endYearRange}}" displayFormat="MMM D, YYYY" [(ngModel)]="newEvent.startDateString"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Start Time</ion-label>
      <ion-datetime displayFormat="h:mm A" [(ngModel)]="newEvent.startDateString" (ionChange)="startDateChanged()"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Date</ion-label>
      <ion-datetime min="2017" max="2037" displayFormat="MMM D, YYYY" [(ngModel)]="newEvent.endDateString"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>End Time</ion-label>
      <ion-datetime displayFormat="h:mm A" [(ngModel)]="newEvent.endDateString"></ion-datetime>
    </ion-item>
    <div *ngIf="newEvent.eventType === 'On Location'">
      <ion-item>
        <ion-label color="primary" stacked>Address</ion-label>
        <ion-input type="text" placeholder="Address" [(ngModel)]="newEvent.address"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>City</ion-label>
        <ion-input type="text" placeholder="City" [(ngModel)]="newEvent.city"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>State</ion-label>
        <ion-input type="text" placeholder="State" [(ngModel)]="newEvent.state"></ion-input>
      </ion-item>
    </div>
    <div *ngIf="newEvent.eventType === 'Online'">
      <ion-item>
        <ion-label color="primary" stacked>Web URL (if applicable)</ion-label>
        <ion-input type="text" placeholder="URL" [(ngModel)]="newEvent.url"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label color="primary" stacked>Access Code (blank if sessions have codes)</ion-label>
        <ion-input type="text" placeholder="Access Code" [(ngModel)]="newEvent.accessCode"></ion-input>
      </ion-item>
    </div>
    <p>
      <button ion-button (click)="saveEvent()">Next</button>
    </p>
  </div>
</ion-content>