<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Schedule ({{event.status}})</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="event">
        <h1>{{event.name}}</h1>
        <p *ngIf="event.startDate === event.endDate" class="subheader-date">
            {{event.startDate | date: 'EEEE, MMM d, y'}}
        </p>
        <p *ngIf="event.startDate !== event.endDate" class="subheader-date">
            {{event.startDate | date: 'EEEE, MMM d, y'}} to {{event.endDate | date: 'EEEE, MMM d, y'}}
        </p>
    </div>
    <div *ngIf="eventSchedule">
        <div *ngFor="let day of eventSchedule.days">
            {{day | date: 'EEEE, MMM d, y'}}
        </div>
    </div>
    <div>
        <button ion-button icon-left full (click)="saveAndNavToEventDetails()">
      <ion-icon name="paper"></ion-icon>
      Event Details
    </button>
        <button ion-button icon-left full outline>
      <ion-icon name="calendar"></ion-icon>
      Schedule / Speakers
    </button>
        <button ion-button icon-left full (click)="saveAndNavToEventTeam()">
      <ion-icon name="people"></ion-icon>
      Organizer Team
    </button>
    </div>
</ion-content>