<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
        <ion-title>Schedule ({{event.status}})</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div *ngIf="event">
        <h1>{{event.name}}</h1>
        <p *ngIf="eventSchedule && eventSchedule.isOneDayEvent" class="subheader-date">
            {{event.startDateString | date: 'EEEE, MMM d, y'}} ~ {{event.startDateString | date: 'shortTime'}} to {{event.endDateString | date: 'shortTime'}}
        </p>
        <p *ngIf="eventSchedule && !eventSchedule.isOneDayEvent" class="subheader-date">
            {{event.startDateString | date: 'EEEE, MMM d, y'}} thru {{event.endDateString | date: 'EEEE, MMM d, y'}}
        </p>
    </div>
    <div *ngIf="eventSchedule">
        <div *ngFor="let scheduleDay of eventSchedule.days">
            <h2 *ngIf="eventSchedule.days.length > 1">{{scheduleDay.dayString}}</h2>
        </div>
    </div>
    <div>
        <button ion-button icon-left full (click)="saveAndNavToEventDetails()">
      <ion-icon name="paper"></ion-icon>
      Event Details
    </button>
        <button ion-button icon-left full outline>
      <ion-icon name="calendar"></ion-icon>
      Schedule / Speakers
    </button>
        <button ion-button icon-left full (click)="saveAndNavToEventTeam()">
      <ion-icon name="people"></ion-icon>
      Organizer Team
    </button>
    </div>
</ion-content>