<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Upcoming Events</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="eventFilter">
    <ion-segment-button value="global-church">
      Global Church
    </ion-segment-button>
    <ion-segment-button value="local-church">
      Local Church
    </ion-segment-button>
    <ion-segment-button value="study-groups">
      Study Groups
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>

  <div padding *ngIf="eventFilter === 'local-church'">
    <h3>Local Church Event Feed</h3>
    <h4>Future Feature (ETA: Unknown)</h4>
    <p>You will be able to subscribe to specific local churches event feeds to see what is happening around you.</p>
  </div>

  <div padding *ngIf="eventFilter === 'study-groups'">
    <h3>Group Study Feed</h3>
    <h4>Future Feature (ETA: Unknown)</h4>
    <p>Study groups will be able to publish events and they will be seen in group member feeds. Groups will probably be "invite only" and/or "invite request".</p>
  </div>

  <ion-card *ngIf="events.length === 0 && eventFilter === 'global-church'" (click)="goToEventNewPage()">
    <ion-card-content>
      <p>
        There are no upcoming events yet. If you know of one you can create it by clicking this area.
      </p>
    </ion-card-content>
  </ion-card>

  <div *ngIf="eventFilter === 'global-church'">
    <ion-card (click)="gotoReviewEventDrafts()">
      <ion-card-content>
        Don't see event? Submit it (click here)...
      </ion-card-content>
    </ion-card>
    <ion-card *ngFor="let event of events" (click)="navEventDetails(event.id)">
      <ion-item>
        <!--<ion-avatar item-left>
          <img src="img/marty-avatar.png">
        </ion-avatar>-->
        <h2>{{event.name}}</h2>
        <p>
          Starts: {{event.startDateString | date: 'EEEE, MMMM dd, yyyy ~ h:mm a'}}<br/>
          Ends: {{event.endDateString | date: 'EEEE, MMMM dd, yyyy ~ h:mm a'}}
        </p>
      </ion-item>
      <ion-card-content>
        <p>{{event.description}}</p>
      </ion-card-content>
      <!--<ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
          <ion-icon name="contact"></ion-icon>
          <div>999 Going</div>
        </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
          <ion-icon name="text"></ion-icon>
          <div>999 New Msgs</div>
        </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            364d 11h
          </ion-note>
        </ion-col>
      </ion-row>-->
    </ion-card>
  </div>

</ion-content>